<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ page.data.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>

    <main>
      <p>This demo accompanies my <a href="https://jdsteinbach.com/a11y-modal-slides/">CascadiaJS 2020 Talk: <i>{{ title }}</i></a>.</p>

      {{ content }}
    </main>

    <footer>
      &copy; 2020 <a href="https://jamessteinbach.com">James Steinbach</a>. All Rights Reserved
    </footer>

    <script src="scripts.js" async defer></script>
  </body>
</html>
